.nav{
  background-color: black;
  overflow: auto;
  overflow-y: scroll; /* 縦方向にスクロールバーを表示 */
}
.nav ul{
  display: flex;
  width: max-content;
  margin: 0 auto;
  padding-left:0;
}
.nav ul li{
  list-style:none;
}
.nav ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 10px 25px;
  height: 50px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
.nav ul li a:hover{
  background-color: #cc0000;
}
.conteiner{
  display:flex;
  width: max-content;
  flex-direction: column; /* 縦方向に並べる */
  margin: 0 auto; /* 中央寄せ */
  width: max-content;
  border: 1px solid #000; /* 枠線あり */
}
img{
  margin: 0 auto; /* 中央寄せ */
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}